<div class="sidebar">
    <div class="logo">
        <img src="https://i.imgur.com/2vsdAdd.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#">About Us</a>
                <ul class="dropdown-content">
                    <li><a href="/litefootz.html">Litefootz Vision</a></li>
                    <li><a href="/history.html">The History of OCULAR</a></li>
                </ul>
            </li>
            <li>
                <a href="/blog.html">Blog</a>
            </li>
            <li class="dropdown">
                <a href="#">Stats</a>
                <ul class="dropdown-content">
                    <li><a href="/finance.html">Finance</a></li>
                    <li><a href="/recruitment.html">Recruitment</a></li>
                </ul>
            </li>
            <li>
                <a href="/media.html">Media</a>
            </li>
            <li class="dropdown">
                <a href="#">Support Us</a>
                <ul class="dropdown-content">
                    <li><a href="/merch.html">Merch Store</a></li>
                    <li><a href="/donations.html">Donations</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="footer">
        <ul>
            <li><a href="/terms.html">Terms of Service</a></li>
            <li><a href="/privacy.html">Privacy Policy</a></li>
            <li><a href="/acknowledgements.html">Acknowledgements</a></li>
        </ul>
        <button class="get-fuel" onclick="location.href='/';">BACK TO HOME</button>
    </div>
</div>
